%h1
  %a{ :href => "#", :title => "Test writer" }
    %ul
      %li
        %a{ :href => "#", :title => "Ruby" }
      %li
        %a{ :href => "#", :title => "Python" }
      %li
        %a{ :href => "#", :title => "Javascript" }

        %button.send