<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<div class="main">
  <div class="auth_div">
    <li><a href="/login" class="log_in">Login</a></li>
    <li><a href="/register" class="register">Register</a></li>
  </div>

  <div class="new_auth">
  </div>

  <div class="log_out">
    <li><a href="/logout" class="log_out">Log Out</a></li>
  </div>
<div id='registrationPane'>
  <form id="registrationForm" method='post' action='/register'>
    UserName  <input type='text' name='username' placeholder="e.g., beerqueen">
    Password  <input type='password' name='password' placeholder="e.g., Beerisbest2015">
    <input type='submit' value='Sign Up'>
  </form>
</div>

<div id='loginPane' >
   <form id="loginForm" method='post' action='/login'>
    User Name <input type='text' name='username' placeholder='username'>
    Password <input type='password' name='password' placeholder='password'>
    <input type='submit' value='Log In'>
  </form>
</div>

  <div class="brewery_search">

    <form action="/" name="search" method="get">
      <input type="text" class="brewery" value=""/>
      <input class="submit" type="submit" value="Beer/Brewery"/>
    </form>
  </div>
</div>
<div class="brewery_name">
</div>
<div class="beer_result">
</div>

<footer>
</footer>
