%h1
  %a{ :href => "#"}
    Test writer
    %ul
      %li
        %a{ :href => "#"}
        Ruby
      %li
        %a{ :href => "#"}
        Python
      %li
        %a{ :href => "#"}
        Javascript
        %br/
        %button.send
          Send